name: SonarCloud analysis

env:                     
  SONAR_ORG: 'luis-caxi-calani'                 # Nombre de la organización en SonarCloud
  SONAR_PROJECT: 'luis-caxi-calani_calidadrumi'     # Key ID del proyecto de SonarCloud

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  sonarqube:
    name: SonarCloud Analysis
    runs-on: windows-latest                     

    steps:
      - name: Enable long paths in Git
        run: git config --system core.longpaths true
        
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          path: './repo'  

      - name: List files in the repository
        run: ls -R ./repo  
        
      - name: Restore NuGet packages
        run: nuget restore ./repo/Proyecto_RUMI/Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.sln  

      - name: Instalar Scanner de SonarCloud
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Ejecutar escaneo de SonarCloud
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}  
        run: |
          dotnet sonarscanner begin /k:"${{ env.SONAR_PROJECT }}" /o:"${{ env.SONAR_ORG }}" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io"
          msbuild ./repo/Proyecto_RUMI/Proyecto_Web2_Aguilar_Chino_Gonzales_Perez.sln /p:Configuration=Release  # Ruta correcta para el archivo de solución
          dotnet sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
